.vision-mission {
  max-width:900px; margin:0 auto; text-align:center;
}
.vision-mission h3 {
  font-size:2.4rem; margin:3rem 0 1.5rem; color:#000;
}
.vision-mission p {
  font-size:1.3rem; color:#444; font-family:'Libre Baskerville', serif;
}